.wrap {   
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.traffic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightcar, .lightpeople {
    width: 110px;
    height: 376px;
    border: 2px solid orange;
    box-sizing: border-box;
    margin: 5px;
    background-color: #000;
    color: #fff;
}

.road {
    background-color: gray;
    width: 110px;
    
}

.road, .peopleroad {
    height: 386px;
}

.mainroad, .peopleroad {
    max-width: 100%;
    margin: 0 auto;
}

.mainroad {
    background-color: gray;
    height: 200px;
}

.peopleroad {
    background-image: url('../images/fon2-peopleroad.jpg');
}

.red, .redp, .yellow, .green, .greenp, .black, .count {
    height: 100px;
    width: 100px;
    border: 1px solid orange;
}

.red, .redp, .yellow, .green, .greenp, .black {
    border-radius: 999px;
    margin: 2px;
}

.count {
    // height: 100px;
    // width: 100px;
    // border: 1px solid orange;
    box-sizing: border-box;
    color: #fff;
    font-size: 82px;
    margin: 3px;
}

.redp {
    background-color: red;
    background-image: url(../images/person-stop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.greenp {
    background-color: green;
    background-image: url(../images/person-walking.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    // &:not(.show) {
    //     display: none;
    // }
}

.redtext {
    color: red;
}

.greentext {
    color: green;
}

.blinkGreen {
    background-color: green;
    animation: blinker 1s cubic-bezier(1.0,0,0,1.0) 5;
  }
   
  @keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.1; }
  }

.carstop {
    background-image: url(../images/carright.png);
    height: 100px;
    width: 160px;
    //overflow: hidden;
    //position: relative;
}

.carright {
    background-image: url(../images/carright.png);
    height: 100px;
    width: 160px;
    overflow: hidden;
    position: relative;
    animation: cargo 10s infinite;
}

    @keyframes cargo {
        0% {left: 5px;}
        100% {left: 100%;} 
    }

.stopman {
    background-image: url(../images/man-go.png);
    height: 150px;
    width: 88px;
    left: 60%;
    top: 5%;
    position: absolute;
}

.walkman {
    background-image: url(../images/man-go.png);
    height: 150px;
    width: 88px;
    left: 60%;
    overflow: hidden;
    position: absolute;
    animation: mango 20s;
}

    @keyframes mango {
        0% {top: 5%;}
        100% {top: 75%;} 
    }

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnStart {
    margin: 20px;
    width: 100px;
}

.btnStop {
    margin: 20px;
    width: 100px;
}

